// Colors

$violet:                hsl(263, 55%, 52%);
$dark-grayis-blue:      hsl(217, 19%, 35%);
$dark-blackish-blue:    hsl(219, 29%, 14%);
$white:                 hsl(0, 0%, 100%);

// Neutral

$light-gray:            hsl(0, 0%, 81%);
$light-grayish-blue:    hsl(210, 46%, 95%);

$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

$primary:                 $violet;
$secondary:               $dark-grayis-blue;
$success:                 $dark-blackish-blue;
$info:                    $white;
$warning:                 $white;
$danger:                  $dark-grayis-blue;

$white: $light-grayish-blue;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);
